# --- Core Image Processing & Math ---
opencv-python==4.13.0.92
numpy==2.2.6
numexpr
pillow==12.1.1
scikit-image==0.25.2
scipy==1.15.3

# --- Data & Plotting ---
pandas==2.3.3
openpyxl==3.1.5
matplotlib==3.10.8
seaborn==0.13.2

# --- Microscopy File Readers ---
aicsimageio==4.14.0
czifile==2019.7.2.2
pylibCZIrw==6.0.1
nd2==0.11.3
readlif==0.6.6
tifffile==2023.2.28
imagecodecs==2025.3.30
oiffile==2025.5.10
oirfile

# --- Build Tools ---
pyinstaller==6.19.0